
{% form_theme form 'forms/_contact.html.twig' %}
{{ form_start(form, {'attr': {'action': path('registration_newsletter'),'class': 'ajaxForm', 'method': 'POST'}}) }}
<div class="row">
    <div class="col-md-12">
        <div class="md-form mb-0 mt-0">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
        <button class="button-custom btn-floating d-flex justify-content-center align-items-center">
            <i class="fa fa-paper-plane text-white"></i>
        </button>
    </div>
</div>
{{ form_end(form) }}
