<div id="container-payment" class="row">
    <div class="col-12">
        <form action="" method="POST" class="texf-center">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_EGNkN8Ku2kyEjvFRhyQjzuDC"
                    data-amount="{{ cart.getTotalPriceWithDelivery() * 100 }}"
                    data-name="Mon Premier Sommelier"
                    data-currency="eur"
                    data-label="Procéder au paiement"
                    data-email="{{ cart.deliveryInformation.email}}"
                    data-image="{{asset('build/images/logo.png')}}"
                    data-locale="fr"
                    data-zip-code="false">
            </script>
            <button type="submit" class="btn btn-sm btn-outline-success btn-rounded waves-effect float-right">Procéder au paiement</button>
        </form>
    </div>
</div>
