<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Informations légales</h2>
            <p>
                Conformément à l'article L.3342-1 du Code de la santé publique et à la loi n°2009-
                879 du 21 juillet 2009, la vente d'alcool à des mineurs est interdite. Toute personne
                procédant à une commande sur le site Internet www.monpremiersommelier.fr
                s'engage à avoir la capacité juridique et l'âge légal requis (18 ans révolus) à la date
                de la commande.
            </p>
            <p class="text-uppercase">
                L'abus d'alcool est dangereux pour la santé. A consommer avec modération
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Mentions légales</h2>
            <p>
                Conformément aux dispositions de l'article 6 III-1 de la loi n°2004-575 du 21 juin
                2004 pour la confiance dans l'économie numérique, nous vous informons que le
                présente Boutique <a href="https://www.monpremiersommelier.fr" target="_blank">www.monpremiersommelier.fr</a> (ci-après « la Boutique») est la
                propriété exclusive de la société Mon Premier SASU : Société par Action Simplifiée
                Unipersonnelle au capital de 10000 Euros, immatriculée au Registre du Commerce
                et des Sociétés de Marseille sous le numéro 878 400 548 dont le numéro de TVA
                intracommunautaire est  FR37 878400548 et dont le siège social se situe 20 rue de
                roux, 13004, Marseille (ci-après « Mon Premier SASU »).
            </p>
            <p>
                Directeur de la Publication : Romain Pourriere
            </p>
            <p>
                Le site est hebérgé par la société OVH. (France)
            </p>
            <p>
                La société Mon Premier SASU a souscrit à une assurance "Responsabilité Civile" auprès de la société MMA.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Conditions Générales</h2>
            <div class="accordion" id="cgv">
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                1. Préambule
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU propose des Services relatifs à la dégustation
                                d’alcool. La société Mon Premier SASU exploite la Boutique depuis laquelle elle
                                propose à ses Clients la vente d’alcool et Services associés.
                            </p>
                            <p>
                                L'accès et l'utilisation de ces Services sont régis par les présentes Conditions
                                Générales, dont seule la version française fait foi. Les Visiteurs et les Clients
                                disposent de la faculté de les sauvegarder et de les imprimer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Définitions
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Dans le cadre des présentes conditions générales de vente et d'utilisation (ci-après «
                                les Conditions Générales » ou «  CG »), en ce compris son article 1 er (Préambule),
                                les termes commençant par une majuscule, qu’ils soient employés au singulier ou au
                                pluriel selon le contexte de leur emploi, auront la signification suivante :
                            </p>
                            <p>
                                « Client(s) » : désigne tout Inscrit, âgé de 18 ans au minimum, passant une
                                Commande sur la Boutique, pour ses besoins personnels ou pour le compte d’un
                                tiers, dans les conditions et modalités des présentes CG.
                            </p>
                            <p>
                                Le Client est nécessairement, au sens du Code de la consommation :
                            <ul>
                                <li>
                                    Un consommateur : toute personne physique qui agit à des fins qui n'entrent
                                    pas dans le cadre de son activité commerciale, industrielle, artisanale, libérale
                                    ou agricole.
                                </li>
                                <li>
                                    Un non-professionnel : toute personne morale qui n'agit pas à des fins
                                    professionnelles.
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
