<div class="container pb-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Informations légales</h2>
            <p>
                Conformément à l'article L.3342-1 du Code de la santé publique et à la loi n°2009-
                879 du 21 juillet 2009, la vente d'alcool à des mineurs est interdite. Toute personne
                procédant à une commande sur le site Internet www.monpremiersommelier.fr
                s'engage à avoir la capacité juridique et l'âge légal requis (18 ans révolus) à la date
                de la commande.
            </p>
            <p class="text-uppercase">
                L'abus d'alcool est dangereux pour la santé. A consommer avec modération
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Mentions légales</h2>
            <p>
                Conformément aux dispositions de l'article 6 III-1 de la loi n°2004-575 du 21 juin
                2004 pour la confiance dans l'économie numérique, nous vous informons que le
                présente Boutique <a href="https://www.monpremiersommelier.fr" target="_blank">www.monpremiersommelier.fr</a> (ci-après « la Boutique») est la
                propriété exclusive de la société Mon Premier SASU : Société par Action Simplifiée
                Unipersonnelle au capital de 10000 Euros, immatriculée au Registre du Commerce
                et des Sociétés de Marseille sous le numéro 878 400 548 dont le numéro de TVA
                intracommunautaire est  FR37 878400548 et dont le siège social se situe 20 rue de
                roux, 13004, Marseille (ci-après « Mon Premier SASU »).
            </p>
            <p>
                Directeur de la Publication : Romain Pourriere
            </p>
            <p>
                Le site est hebérgé par la société OVH. (France)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Conditions Générales</h2>
            <div class="accordion" id="cgv">
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="preambule">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsePreambule"
                                    aria-expanded="false" aria-controls="collapsePreambule">
                                1. Préambule
                            </button>
                        </h5>
                    </div>
                    <div id="collapsePreambule" class="collapse" aria-labelledby="preambule"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU propose des Services relatifs à la dégustation
                                d’alcool. La société Mon Premier SASU exploite la Boutique depuis laquelle elle
                                propose à ses Clients la vente d’alcool et Services associés.
                            </p>
                            <p>
                                L'accès et l'utilisation de ces Services sont régis par les présentes Conditions
                                Générales, dont seule la version française fait foi. Les Visiteurs et les Clients
                                disposent de la faculté de les sauvegarder et de les imprimer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="definitions">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse"
                                    data-target="#collapseDefinitions" aria-expanded="false" aria-controls="collapseDefinitions">
                                2. Définitions
                            </button>
                        </h5>
                    </div>
                    <div id="collapseDefinitions" class="collapse" aria-labelledby="definitions" data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Dans le cadre des présentes conditions générales de vente et d'utilisation (ci-après «
                                les Conditions Générales » ou «  CG »), en ce compris son article 1 er (Préambule),
                                les termes commençant par une majuscule, qu’ils soient employés au singulier ou au
                                pluriel selon le contexte de leur emploi, auront la signification suivante :
                            </p>
                            <p>
                                « Client(s) » : désigne tout Inscrit, âgé de 18 ans au minimum, passant une
                                Commande sur la Boutique, pour ses besoins personnels ou pour le compte d’un
                                tiers, dans les conditions et modalités des présentes CG.
                            </p>
                            <p>
                                Le Client est nécessairement, au sens du Code de la consommation :
                                <ul>
                                    <li>
                                        Un consommateur : toute personne physique qui agit à des fins qui n'entrent
                                        pas dans le cadre de son activité commerciale, industrielle, artisanale, libérale
                                        ou agricole.
                                    </li>
                                    <li>
                                        Un non-professionnel : toute personne morale qui n'agit pas à des fins
                                        professionnelles.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Dans l’hypothèse où le Client souhaite faire bénéficier à un tiers tout ou partie des
                                Produits et Services de la société Mon Premier SASU, il déclare et garantit que ledit
                                tiers est majeur et se porte fort vis-à-vis de la société Mon Premier SASU du respect
                                par ledit tiers des obligations au titre des présentes CG.
                            </p>
                            <p>
                                <strong>Commande(s) :</strong> désigne la/les commande(s) de Produit(s) passée(s) par le
                                Client auprès de la société Mon Premier SASU sur la Boutique et suivant les
                                modalités fixées dans les présentes CG.
                            </p>
                            <p>
                                <strong>Données Personnelles :</strong> désigne les données à caractère personnel permettant
                                d’identifier directement ou indirectement le Visiteur, le Client lors de la passation de
                                commande sur la Boutique (ex : nom, prénom, adresse de courrier électronique,
                                adresse postale, nom d’utilisateur, adresse IP, etc.).
                            </p>
                            <p>
                                <strong>Producteur(s), Domaine(s), Vigneron(s) :</strong> désigne les producteurs de vin sélectionnés par la société Mon Premier SASU.
                            </p>
                            <p>
                                <strong>Produit(s) :</strong> désigne les bouteilles de vin et emballages par la société Mon
                                Premier SASU ainsi que les accessoires commercialisés sur la Boutique et acquis
                                par le Client en passant une Commande sur la Boutique.
                            </p>
                            <p>
                                <strong>Service(s) :</strong> désigne l’ensemble des services proposés par la société Mon
                                Premier SASU aux Clients sur la Boutique en complément des Produits.
                            </p>
                            <p>
                                <strong>Boutique :</strong> désigne le site internet accessible à l'adresse URL <a href="https://www.monpremiersommelier.fr" target="_blank">www.monpremiersommelier.fr</a>
                            </p>
                            <p>
                                <strong>Visiteur(s) : </strong> toute personne naviguant sur le site <a href="https://www.monpremiersommelier.fr" target="_blank">www.monpremiersommelier.fr</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="objectcg">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseobjectcg"
                                    aria-expanded="false" aria-controls="collapseobjectcg">
                                3. Objet des Conditions Générales
                            </button>
                        </h5>
                    </div>
                    <div id="collapseobjectcg" class="collapse" aria-labelledby="objectcg"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les présentes Conditions Générales ont pour objet de définir les conditions et
                                modalités selon lesquelles la société Mon Premier SASU met à la disposition des
                                Visiteurs et Clients sa Boutique et propose ses Produits et Services détaillés ci-
                                après.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="acceptcg">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseacceptcg"
                                    aria-expanded="false" aria-controls="collapseacceptcg">
                                4. Acceptation des présentes Conditions Générales
                            </button>
                        </h5>
                    </div>
                    <div id="collapseacceptcg" class="collapse" aria-labelledby="acceptcg"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les présentes Conditions Générales s'appliquent à tout Visiteur et Client de la
                                Boutique.
                            </p>
                            <p>
                                L'accès et l'utilisation de la Boutique entraîne l'adhésion du Visiteur et Client aux
                                présentes Conditions Générales. Le fait de confirmer la passation d'une Commande
                                sur la Boutique, en cliquant sur le bouton "confirmer ma commande", après avoir
                                coché la case « J’accepte les Conditions Générales de vente présentes en haut de
                                page » vaut acceptation pleine et entière des présentes Conditions Générales.
                            </p>
                            <p>
                                Les Conditions Générales applicables sont celles en vigueur au jour de la visite sur la
                                boutique ou de la passation d'une Commande.
                            </p>
                            <p>
                                Les présentes Conditions Générales peuvent faire l'objet de modifications par la
                                société Mon Premier SASU. Les nouvelles Conditions Générales seront applicables
                                aux seules Commandes réalisées postérieurement à la modification.
                            </p>
                            <p>
                                Faute d'accord avec les Conditions Générales modifiées, il vous est conseillé de
                                vous abstenir de passer une Commande ou d'utiliser les Services de la Boutique. A
                                défaut, les modifications apportées aux Conditions Générales seront réputées
                                acceptées.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="venteparticulier">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseventeparticulier"
                                    aria-expanded="false" aria-controls="collapseventeparticulier">
                                5. Vente et Services aux particuliers
                            </button>
                        </h5>
                    </div>
                    <div id="collapseventeparticulier" class="collapse" aria-labelledby="venteparticulier"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU réserve exclusivement l’achat des Produits et
                                Services via la Boutique à une clientèle de consommateurs et/ou de non-
                                professionnels au sens du Code de la consommation. Tout Client s'engage donc à
                                agir en cette qualité. La société Mon Premier SASU se réserve le droit de refuser ou
                                d'annuler toute Commande émanant d'un Client s'avérant être un revendeur
                                professionnel.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="utilisationshop">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseutilisationshop"
                                    aria-expanded="false" aria-controls="collapseutilisationshop">
                                6. Utilisation de la boutique
                            </button>
                        </h5>
                    </div>
                    <div id="collapseutilisationshop" class="collapse" aria-labelledby="utilisationshop"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU s'efforce de maintenir accessible la Boutique sans
                                pour autant être tenu à aucune obligation d'y parvenir. L'accès à la Boutique pourra
                                être interrompu à des fins de maintenance, de mise à jour, ou pour tout autre raison
                                d'ordre technique.
                            </p>
                            <p>
                                Avant de passer toute Commande, le Visiteur doit renseigner les informations qui lui
                                sont demandées, en particulier ses Données Personnelles.
                            </p>
                            <p>
                                Le Client garantit l’exactitude, la sincérité et la fiabilité des informations renseignées,
                                particulièrement de ses Données Personnelles. Le Client fournit en particulier une
                                seule adresse de courrier électronique valide et fonctionnelle, laquelle sera un
                                moyen de communication entre lui et la société Mon Premier SASU ainsi qu’une
                                adresse valide de livraison postale.
                            </p>
                            <p>
                                La société Mon Premier SASU ne peut être tenue responsable de l’absence de
                                diligence du Client lors de la saisie de ces données personnelles lors de la passation
                                de Commande, et par suite de coordonnées erronées, avec leurs conséquences sur
                                la livraison des Commandes.
                            </p>
                            <p>
                                La société Mon Premier SASU pourra vérifier à tout moment la conformité des
                                informations renseignées par le Client et, le cas échéant, si ces informations lui
                                paraissent erronées et/ou trompeuses, pourra demander la communication
                                d’informations supplémentaires ou rectifiées. En cas d’information erronée ou
                                paraissant trompeuse, la société Mon Premier SASU se réserve la possibilité, de
                                plein droit de suspendre ou rompre toute relation contractuelle avec le Client.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="orderwine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseorderwine"
                                    aria-expanded="false" aria-controls="collapseorderwine">
                                7. Commandes de vins et accessoires
                            </button>
                        </h5>
                    </div>
                    <div id="collapseorderwine" class="collapse" aria-labelledby="orderwine"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU offre aux Clients la possibilité de passer Commande
                                par l'intermédiaire de la Boutique et d’acquérir les vins et accessoires sélectionnés,
                                dans la limite des stocks disponibles et dans le respect des présentes Conditions
                                Générales.
                            </p>
                            <p>
                                Toute Commande ne sera prise en compte qu'après réception du complet paiement
                                du Client. Toute Commande donnera lieu à une confirmation de Commande envoyée par la société Mon Premier SASU à l'adresse de courrier électronique que le Client a
                                communiqué lors de la passation de commande sur la Boutique.
                            </p>
                            <p>
                                Lors de la passation d'une Commande, il appartient au Client de vérifier que les
                                informations relatives à la Commande sont conformes à ses choix (Données
                                Personnelles, mode de livraison, créneaux horaires, options éventuelles, lieu de
                                livraison et/ou de facturation des produits, etc.).
                            </p>
                            <p>
                                La société Mon Premier SASU se réserve le droit de refuser toute Commande non
                                conforme ou douteuse, ainsi que toute Commande émanant d'un Client n'ayant pas
                                réglé totalement une précédente Commande ou avec lequel un litige quelconque
                                serait en cours.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="productavailable">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseproductavailable"
                                    aria-expanded="false" aria-controls="collapseproductavailable">
                                8. Disponibilité des Produits
                            </button>
                        </h5>
                    </div>
                    <div id="collapseproductavailable" class="collapse" aria-labelledby="productavailable"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les offres de Produits sont valables tant qu'elles sont visibles sur la Boutique et
                                s'entendent, dans la limite des stocks disponibles.
                            </p>
                            <p>
                                En cas d'indisponibilité définitive d'un ou plusieurs Produits commandés, la société
                                Mon Premier SASU s'engage à en informer le Client dans les plus brefs délais.
                            </p>
                            <p>
                                Le Client pourra alors, à son choix, demander : le remplacement du ou des produits
                                indisponibles par un ou des produits d'une qualité et d'un prix équivalents, ou
                                l'obtention d'un avoir correspondant au montant de la commande, ou le
                                remboursement de la somme débitée sur son compte, ce remboursement intervenant
                                dans un délai de trente (30) jours à compter de la réception de la demande de
                                remboursement.
                            </p>
                            <p>
                                Pour les besoins du précédent alinéa, l'appréciation de la qualité équivalente
                                demeure du seul ressort de la société Mon Premier SASU.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="price">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseprice"
                                    aria-expanded="false" aria-controls="collapseprice">
                                9. Prix
                            </button>
                        </h5>
                    </div>
                    <div id="collapseprice" class="collapse" aria-labelledby="price"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les prix indiqués sont en Euro. Si un prix devait figurer dans une autre monnaie, ce
                                montant n'aurait qu'une valeur purement indicative. Les prix des frais divers sont
                                ceux indiqués lors de la Commande (frais de port, frais d'emballage, ...).
                            </p>
                            <p>
                                Les prix des Produits commandés sur la Boutique sont ceux indiqués sur la fiche de
                                chaque Produit. Ces prix s'entendent toutes taxes comprises et hors frais de
                                transport (les frais de ports sont indiqués séparément et ajoutés au montant de la
                                commande). Le prix total de la Commande est celui indiqué lors de la validation de la
                                Commande par le Client.
                            </p>
                            <p>
                                Les offres de produits et Services sont valables pour la durée de leur visibilité sur le
                                Site.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="securitypayment">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsesecuritypayment"
                                    aria-expanded="false" aria-controls="collapsesecuritypayment">
                                10. Modalités de paiement et sécurité
                            </button>
                        </h5>
                    </div>
                    <div id="collapsesecuritypayment" class="collapse" aria-labelledby="securitypayment"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Pour toute Commande passée, le règlement s'effectue intégralement lors de la
                                Commande, par carte bancaire. Une fois la Commande validée et le prix débité, une
                                facture est créée par la société Mon Premier SASU et est envoyée par mail à
                                l’adresse indiquée dans les données personnelles.
                            </p>
                            <p>
                                Afin d'optimiser la sécurité des transactions, tout paiement effectué par carte
                                bancaire sur la Boutique www.monpremiersommelier.fr s'effectue via le système de
                                paiement en ligne sécurisé dénommé "Stripe" proposé par la société
                                Stripe, qui assure un paiement sécurisé sur une plateforme externe.
                            </p>
                            <p>
                                Les offres de produits et Services sont valables pour la durée de leur visibilité sur le
                                Site.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="deliveryshipment">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsedeliveryshipment"
                                    aria-expanded="false" aria-controls="collapsedeliveryshipment">
                                11. Expédition et livraison
                            </button>
                        </h5>
                    </div>
                    <div id="collapsedeliveryshipment" class="collapse" aria-labelledby="deliveryshipment"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les délais et couts de livraison applicables dans le cadre des Commandes de
                                Produits passées par l'intermédiaire de la Boutique sont ceux indiqués lors de la
                                Commande, avant la validation de celle-ci.
                            </p>
                            <p>
                                Les Produits sont livrés par la société Mon Premier SASU en main propre et contre
                                signature à l'adresse de livraison indiquée par le Client dans les données
                                personnelles, selon le créneau horaire choisi par le Client lors de la passation de sa
                                commande. En cas d’absence du client, un montant forfaitaire de 6€ sera facturé au
                                Client pour la représentation des produits commandés sur un nouveau créneau
                                horaire correspondant à son adresse de livraison.
                            </p>
                            <p>
                                Si tout ou partie des adresses ou informations nécessaires à la livraison fournies par
                                le Client, lors de la Commande, s’avèrent incorrectes obligeant la société Mon
                                Premier SASU à retourner la Commande, il reviendra au Client d’en supporter les
                                frais et conséquences.
                            </p>
                            <p>
                                Lors de la remise de la commande en main propre, le Client ayant passé la
                                commande est tenue de présenter une pièce d’identité. Celle-ci doit correspondre
                                aux données personnelles mentionnées lors de la commande. En cas de non
                                présentation, la commande ne lui sera pas remise, un montant forfaitaire de 6€ sera
                                facturé au Client pour la représentation des produits commandés sur un nouveau
                                créneau horaire correspondant à son adresse de livraison.
                            </p>
                            <p>
                                Les horaires de livraison des créneaux horaires proposés sur la Boutique sont de 8h
                                à 18h. La matinée s’entend de 8h à 13h, et l’après-midi de 12h à 18h, heures
                                françaises.
                            </p>
                            <p>
                                Le transfert de propriété est effectif lorsque le Client accepte le produit à la livraison.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="guarantee">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseguarantee"
                                    aria-expanded="false" aria-controls="collapseguarantee">
                                12.  Garanties, conformité des produits et refus de commande
                            </button>
                        </h5>
                    </div>
                    <div id="collapseguarantee" class="collapse" aria-labelledby="guarantee"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Le Client est tenu de vérifier attentivement l'état et la conformité des Produits livrés
                                lors de la livraison. En cas de refus de la Commande si celle-ci est non conforme
                                (Produits différents de la commande, bouteilles tâchées ou cassées, étiquette
                                arrachée), le client doit immédiatement refuser la commande en inscrivant les motifs
                                de refus sur le bon de livraison. Dans le cas contraire la commande sera considérée
                                comme acceptée.
                            </p>
                            <p>
                                La société Mon Premier SASU contactera le client et lui proposera le remboursement
                                ou le remplacement des Produits.
                            </p>
                            <p>
                                Le Client pourra toujours, exercer mutatis mutandis la garantie de conformité (L.217-
                                1 et suivants du Code de la consommation) et la garantie des vices cachées (Articles
                                1641 et suivants du Code civil) pendant une durée complémentaire de dix-huit (18)
                                mois, à condition d’être en mesure de rapporter la preuve selon laquelle le défaut de
                                conformité et/ou le vice caché est apparu postérieurement à la délivrance du Produit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="retractation">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseretractation"
                                    aria-expanded="false" aria-controls="collapseretractation">
                                13. Droit de rétractation
                            </button>
                        </h5>
                    </div>
                    <div id="collapseretractation" class="collapse" aria-labelledby="retractation"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Conformément aux dispositions des articles L.221-18 et suivants du Code de la
                                Consommation, le Client dispose d’un droit de rétractation d’un délai de 14 jours à
                                compter de la réception des Produits commandés.
                            </p>
                            <p>
                                Les frais de renvoi de la marchandise sont à la charge du Client.
                                Le colis devra être impérativement retourné dans son emballage d'origine, totalement
                                intact et en parfait état de revente.
                            </p>
                            <p>
                                Pour exercer son droit de rétractation, le Client doit notifier sa décision sur papier
                                libre et l’adresser à Mon Premier SASU, 20 rue de roux, le montargis, 13004
                                Marseille, ou par mail à monpremiersommelier@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="personaldata">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsepersonaldata"
                                    aria-expanded="false" aria-controls="collapsepersonaldata">
                                14. Données Personnelles
                            </button>
                        </h5>
                    </div>
                    <div id="collapsepersonaldata" class="collapse" aria-labelledby="personaldata"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Pour toute information sur la protection des données personnelles, vous pouvez
                                également consulter le site de la Commission Informatique et Liberté www.cnil.fr
                            </p>
                            <p>
                                Les données personnelles sont collectées par la société Mon Premier SASU
                            </p>
                            <p>
                                <strong>
                                    Toutes demandes devront être envoyées à l’adresse suivante
                                    monpremiersommelier@gmail.com ou à l’adresse postale suivante : Mon
                                    premier SASU, 20 rue de roux, 13004, Marseille.
                                </strong>
                            </p>
                            <p>
                                Les informations et données vous concernant sont nécessaires à la gestion de votre
                                commande. Ces informations pourront également être conservées aux fins de preuve
                                dans le respect des obligations légales et réglementaires (paiement, garantie, litige
                                …).
                            </p>
                            <p>
                                Afin de vous tenir informés de notre actualité et des avantages dont vous pouvez
                                bénéficier, vous pourrez recevoir des offres par communication électronique (email,
                                sms…) en vous inscrivant aux newsletters.
                            </p>
                            <p>
                                Nous collectons et traitons notamment vos nom, adresse postale, adresse email,
                                numéro de téléphone, adresse IP, données de connexions et données de navigation,
                                historiques de commandes, produits consultés, incidents de livraisons, réclamations,
                                etc…
                            </p>
                            <p>
                                Nous collectons les informations que vous nous fournissez notamment quand
                                lorsque vous effectuez une commande sur notre Boutique ou lorsque vous donnez
                                vos informations pour recevoir les newsletters.
                            </p>
                            <p>
                                Lors de la passation de commande, l’acceptation des présentes Conditions
                                Générales vaut acceptation de la collecte de vos données.
                            </p>
                            <p>
                                Si vous êtes en désaccord avec l'un de ses termes, Vous êtes libre de ne plus utiliser
                                notre Site et/ou nos services. Nous pouvons modifier librement la présente Charte
                                Vie Privée. Toute modification prendra effet immédiatement et ne s'appliquera qu’aux
                                Utilisateurs utilisant le Site postérieurement à ladite modification. Par conséquent,
                                nous Vous invitons à Vous y référer régulièrement afin de prendre connaissance de
                                sa dernière version disponible en permanence sur le Site.
                            </p>
                            <p>
                                Les données collectées sur la Boutique monpremiersommelier.fr sont exclusivement
                                destinées la société Mon Premier SASU.
                            </p>
                            <p>
                                Vos droits au regard de la loi Informatique et Libertés
                            </p>
                            <p>
                                Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée par la loi
                                du 6 Août 2004, vous disposez d'un droit d'accès et de rectification et d’opposition
                                aux données personnelles vous concernant. Il vous suffit de nous écrire en ligne à
                                monpremiersommelier@gmail.com en nous indiquant votre nom, prénom, email,
                                adresse postale. Conformément à la réglementation en vigueur, votre demande doit
                                être signée et accompagnée de la photocopie d’un titre d’identité portant votre
                                signature et préciser l’adresse à laquelle doit vous parvenir la réponse. Une réponse
                                vous sera alors adressée dans un délai de 2 mois suivant la réception de la
                                demande.
                            </p>
                            <p>
                                <u>Délai de conservation</u>
                            </p>
                            <p>
                                Vos Données Personnelles en relation avec une Commande (nom, prénom, produit
                                ou service, adresse de livraison, de facturation, etc.) sont conservées pendant une
                                durée de trois (3) ans à compter de l’acte d’achat.
                            </p>
                            <p>
                                Toutefois, à l’issu de ce dernier délai, vos Données Personnelles pourront être
                                archivées sur un support distinct afin de satisfaire à nos obligations légales,
                                comptables et fiscales (comme l’obligation de conservation pendant une durée de dix
                                (10) ans des factures posée par l’article L.123-22 du Code de commerce) et/ou à tout
                                le moins pendant le délai de prescription applicable (comme le délai de prescription
                                de droit commun de cinq (5) ans consacré par l’article 2224 du Code civil).
                            </p>
                            <p>
                                <u>
                                    Utilisation de vos données personnelles
                                </u>
                            </p>
                            <p>
                                Les informations et données vous concernant sont nécessaires à la gestion de votre
                                commande. Ces informations pourront également être conservées aux fins de preuve
                                dans le respect des obligations légales et réglementaires (paiement, garantie, litige
                                …).
                            </p>
                            <p>
                                Elles peuvent être transmises aux sous-traitants – auxquels la société Mon Premier
                                SASU fait appel dans le cadre de l’exécution des services et commandes notamment
                                gestion, exécution, traitement et paiement.
                            </p>
                            <p>
                                Afin de vous tenir informés de notre actualité, des nouveaux produits, des nouveaux
                                éléments, des nouveaux service et des avantages dont vous pouvez bénéficier, vous
                                pourrez recevoir des offres par communication électronique (email, sms…).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="intelproperty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseintelproperty"
                                    aria-expanded="false" aria-controls="collapseintelproperty">
                                15. Propriété Intellectuelle
                            </button>
                        </h5>
                    </div>
                    <div id="collapseintelproperty" class="collapse" aria-labelledby="intelproperty"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La marque "Mon Premier Sommelier" est enregistrée auprès de l'Institut National de
                                la Propriété Intellectuelle (INPI) sous le numéro 4594813. Aucune utilisation de la
                                marque et/ou du logo "Mon Premier Sommelier" ne peut être faite sans l'accord écrit
                                et préalable de la société Mon Premier SASU.
                            </p>
                            <p>
                                L'intégralité des contenus, en tout ou partie, qui apparaissent ou sont disponibles sur
                                la Boutique (incluant notamment sans que cette liste soit limitative : les données,
                                informations, textes, illustrations, logos, marques, infographies, photographies,
                                vidéos, logiciels et programmes informatiques, bases de données, etc.), et plus
                                généralement tout ou partie de la Boutique, sont protégés au titre du droit d'auteur et
                                autres droits de propriété intellectuelle pour la France et le monde entier.
                            </p>
                            <p>
                                Les présentes Conditions Générales n'entraînent le transfert d'aucun de ces droits
                                de propriété intellectuelle au profit des Clients et/ou Visiteurs. En conséquence, ces
                                derniers s'interdisent formellement de reproduire et/ou utiliser tout ou partie des
                                contenus qui apparaissent ou sont disponibles sur la Boutique et tout ou partie de la
                                Boutique elle-même. Les Clients et Visiteurs s'interdisent également de copier,
                                modifier, altérer, traduire, reproduire, diffuser, vendre, publier, exploiter ou diffuser de
                                quelques manières et sous quelques formes ou support que ce soit lesdits éléments.
                            </p>
                            <p>
                                En particulier, l'accès aux documents mis en ligne sur la Boutique est exclusivement
                                réservé aux Clients et Visiteurs pour une utilisation effectuée à titre privée et non
                                commercial. Aucune utilisation de ces documents ne peut être faite sans l'accord
                                écrit et préalable de la société Mon Premier SASU.
                            </p>
                            <p>
                                Le non-respect de l’une quelconque des dispositions du présent paragraphe 15
                                expose son auteur (Visiteur, Client et/ou tout tiers) à des poursuites et engage la
                                responsabilité pénale et civile de son auteur, notamment sur le fondement de la
                                contrefaçon de marque et de droits d’auteur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="linkinternet">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapselinkinternet"
                                    aria-expanded="false" aria-controls="collapselinkinternet">
                                16. Liens, sites Internet tiers et partenaires
                            </button>
                        </h5>
                    </div>
                    <div id="collapselinkinternet" class="collapse" aria-labelledby="linkinternet"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU ne pourra en aucun cas être tenue pour responsable
                                de la disponibilité technique de sites internet exploités par des tiers (y compris ses
                                partenaires) auxquels le Visiteur ou le Client accéderait par l'intermédiaire de la
                                Boutique.
                            </p>
                            <p>
                                La société Mon Premier SASU n'endosse aucune responsabilité au titre des
                                contenus, publicités, produits et/ou services disponibles sur de tels sites Internet tiers
                                ou proposés par ces tiers (y compris ses partenaires) dont il est rappelé qu'ils sont
                                régis par leurs propres conditions d'utilisation.
                            </p>
                            <p>
                                La société Mon Premier SASU n'est pas non plus responsable des transactions
                                intervenues entre le Visiteur/Client et un quelconque annonceur, professionnel ou
                                commerçant (y compris ses partenaires), vers lequel le Visiteur/Client de la Boutique
                                serait orienté par l'intermédiaire de la Boutique et ne saurait en aucun cas être partie
                                à quelques litiges éventuels que ce soit avec ces tiers concernant notamment la
                                livraison de produits et/ou services, les garanties, déclarations et autres obligations
                                quelconques auxquelles ces derniers sont tenus.
                            </p>
                            <p>
                                Par ailleurs, la Boutique peut contenir des liens hypertextes ainsi que des visuels
                                publicitaires, promotionnels, commerciaux ou de parrainage vers des sites Internet
                                de tiers revendeurs ou prestataires de services indépendants. La société Mon
                                Premier SASU ne saurait être responsable des contenus desdits sites Internet tiers,
                                n’en garantit ni l’exactitude, ni la validité, ni la qualité, ni l’intégrité, en particulier dans
                                le cadre des transactions effectuées directement entre le Visiteur/Client et un tiers
                                revendeur ou prestataire indépendant.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="responsability">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseresponsability"
                                    aria-expanded="false" aria-controls="collapseresponsability">
                                17. Responsabilité et force majeur
                            </button>
                        </h5>
                    </div>
                    <div id="collapseresponsability" class="collapse" aria-labelledby="responsability"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                La société Mon Premier SASU garantit au Client la bonne exécution de la
                                Commande passée par le Client
                            </p>
                            <p>
                                Toutefois, la société Mon Premier SASU ne saurait être responsable :
                            </p>
                            <ul>
                                <li>En cas de non-respect par le Client des termes des présentes CG</li>
                                <li>
                                    Pour tout dommage indirect ou/et immatériel, en ce compris notamment les
                                    dommages corporels subi du fait de la Commande, de l’utilisation des Produits
                                    ou encore les pertes de réputation susceptibles de survenir lors de l’utilisation
                                    de tout ou partie des Produits.
                                </li>
                            </ul>
                            <p>
                                La société Mon Premier SASU ne saurait être tenue responsable de tout
                                dysfonctionnement de quelle que nature qu’il soit relatif au matériel informatique du
                                Visiteur/Client ainsi qu’à sa connexion d’accès à Internet, lors de l’accès au Site.
                            </p>
                            <p>
                                Dans ce contexte, le Visiteur/Client garantit la société Mon Premier SASU contre
                                toute action, recours ou réclamation en rapport avec l’ensemble des éléments
                                précités et, notamment mais sans limitation, ceux qui mettraient en cause l’utilisation
                                des Produits.
                            </p>
                            <p>
                                La société Mon Premier SASU ne peut être tenue pour responsable de l'inexécution
                                du contrat en cas de survenance d'un évènement de force majeure, tel que définie
                                par l’article 1240 du Code Civil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-0 bordered">
                    <div class="card-header" id="litige">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapselitige"
                                    aria-expanded="false" aria-controls="collapselitige">
                                18. Droit applicable - Règlement des litiges
                            </button>
                        </h5>
                    </div>
                    <div id="collapselitige" class="collapse" aria-labelledby="litige"
                         data-parent="#cgv">
                        <div class="card-body">
                            <p>
                                Les présentes Conditions Générales sont soumises au droit français.
                            </p>
                            <p>
                                En cas de litige susceptible de survenir en rapport avec les présentes Conditions
                                Générales, leur interprétation et leurs conséquences ou avec les actes les
                                complétant ou les modifiant, les parties s'efforceront toujours de trouver une solution
                                amiable avant de porter l'affaire devant les tribunaux.
                            </p>
                            <p>
                                Pour ce faire, le Client est informé que la société Mon Premier SASU est joignable
                                aux coordonnées suivantes :
                            </p>
                            <p>
                                Courrier : Mon Premier SASU, 20 rue de roux, le Montargis, 13004 Marseille.
                            </p>
                            <p>
                                Téléphone : 07 67 23 43 73 du lundi au vendredi de 9h à 17h.
                            </p>
                            <p>
                                Email (réponse garantie sous 72 heures maximum) via monpremiersommelier@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
