{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #main-container {
            padding: 0;
        }
        #storage {
            border-top: 1px solid #cfd8dc;
        }
        #storage .description {
            background-color: #f7f7f7;
            height: 100px;
        }
    </style
{% endblock %}
{% block body %}
    <div id="storage" class="container-fluid">
        <section class="row">
            <div class="col-12 description d-flex justify-content-center align-items-center">
                <h3 class="h3">Informations de livraison</h3>
            </div>
        </section>
    </div>
    <div class="container mt-5">
        <div class="row information">
            <div class="col-12">
                <h4 class="h4 text-center font-weight-bold">
                    Mon Premier Sommelier a choisi de livrer les vins lui-même !
                </h4>
            </div>
            <div class="col-12">
                <p class="text-center primary-text font-weight-bold">
                    Pourquoi ?
                </p>
            </div>
            <div class="col-12">
                <p class="text-center">
                    Parce que le vin est un produit fragile qui ne mérite pas d'être considéré comme un colis classique.
                </p>
            </div>
            <div class="col-12">
                <p class="text-center">
                    Pour être plus proche de vous et vous offrir un service aux petits oignons selon vos envies.
                </p>
            </div>
            <div class="col-12">
                <p class="text-center primary-text">
                    A bientôt !
                </p>
            </div>
        </div>
    </div>
{% endblock %}