###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/cache
/var/log
/var/sessions
/var/data.db
/var/bill/*
!/var/bill/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> behat/symfony2-extension ###
behat.yml.dist
###< behat/symfony2-extension ###
ubuntu-xenial-16.04-cloudimg-console.log
.idea/
/docker/nginx/logs/access.log
/docker/nginx/logs/error.log
/docker/nginx/logs/vins_prod_access.log
/docker/nginx/logs/vins_prod_error.log

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
public/upload
/.env
/docker/apache/logs/app_access.log
/docker/apache/logs/app_error.log
docker/mysql/mysql/*

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
public/sitemap.xml