{% extends 'base.html.twig' %}

{% block stylesheets %}
     {{ encore_entry_link_tags('wine_profile_list') }}
{% endblock %}

{% block body %}
    {% set profilesName = [
        constant('App\\Entity\\VineProfile::WHITE_TYPE_PROFILE'),
        constant('App\\Entity\\VineProfile::RED_TYPE_PROFILE'),
        constant('App\\Entity\\VineProfile::PINK_TYPE_PROFILE')
    ]
    %}
    <div class="container mt-3 mb-3">
        {% for name in profilesName %}
            {% include 'parts/wine_profile/_build_list.html.twig' with {'profiles': profiles, 'name':name} %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wine_profile_list') }}
{% endblock %}
