{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .title-type:after {
            display:block;
            content: '';
            border-bottom: solid 1px red;
            opacity: 0.1;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 title-type p-2">
                    {{ constant('App\\Entity\\VineProfile::WHITE_TYPE_PROFILE') }}
                </h2>
            </div>
            {% for profile in profiles %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2 title-type p-2">
                    {{ constant('App\\Entity\\VineProfile::PINK_TYPE_PROFILE') }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2 title-type p-2">
                    {{ constant('App\\Entity\\VineProfile::RED_TYPE_PROFILE') }}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
