#main-container {
  padding: 0;
}
.title-type:after {
  display:block;
  content: '';
  border-bottom: solid 1px red;
  opacity: 0.1;
}
.card-profile {
  border-radius: 5px 5px 0 0;
}
.card-profile, .card-profile_layout {
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.card-profile {
  //max-height: 400px;
  //min-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 5px 5px 10px rgba(0,0,0,.1);
  overflow: hidden;
  &_layout {
    min-height: 100px;
  }
  &_image {
    z-index: 999;
    img {
      max-height: 45px;
      max-width: 45px;
    }
    &_circle-first {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      border: 5px white solid;
      z-index: 999;
      margin-top: -40px;
    }
    &_circle-second {
      width: 100%;
      height:100%;
      border-radius: 50%;
      background-color: white;
    }
  }
  &_content {
    flex: 1;
    margin-top: -55px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
    &-text {
      margin-top: 70px;
    }
    a {
      color: #000000;
    }
    a:hover {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
    }
    div {
      //max-height: 200px;
      overflow-wrap: break-word;
      overflow: auto;
    }
  }
}
.custom-card-up {
  height: 100px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.card-wrapper {
  height: 275px !important;
  .avatar {
    width: 80px;
    margin-top: -40px;
    border: 3px solid white;
    border-radius: 50%;
    img {
      max-height: 80px;
      max-width: 80px;
      padding: 5px;
    }
  }
}
