.title-type:after {
  display:block;
  content: '';
  border-bottom: solid 1px red;
  opacity: 0.1;
}
.avatar img {
  height: 120px;
}
.custom-card-up {
  height: 100px;
  overflow: hidden;
}
.card-wrapper {
  height: 300px !important;
}