.title-type:after {
  display:block;
  content: '';
  border-bottom: solid 1px red;
  opacity: 0.1;
}
.custom-card-up {
  height: 100px;
  overflow: hidden;
}
.card-wrapper {
  height: 275px !important;
  .avatar {
    width: 80px;
    margin-top: -40px;
    img {
      height: 80px;
    }
  }
}