@mixin loadfont($file, $name: $file, $w: normal, $s: normal) {
  // exemple : @include loadfont(comicsansms-webfont, ComicSans);
  @font-face {
    font-family: $name;
    //src: url('../fonts/' + $file + '.woff2') format('woff2'),
    src: url('../fonts/' + $file + '.ttf') format('woff'),
    url('../fonts/' + $file + '.ttf') format('truetype');
    font-weight: $w;
    font-style: $s;
  }
}
@mixin pseudoBasics(){
  display: block;
  content: '';
  position: absolute;
}

@mixin anim($elt: all, $speed: 0.45s, $delay: 0s, $ease: ease-out){
  transition: $elt $speed $delay $ease;
}
// Gradients - @include gradient();  $start : top, bottom, left, right, -45deg ...
@mixin gradient($c1: $color1, $c2: $color2, $start: top, $type: 0){
  $end : bottom;
  @if 		$start == top 	{ $end: bottom; $type: 0 }
  @else if $start == left 	{ $end: right; $type: 1 }
  @else if $start == -45deg 	{ $end: 135deg; 	$type : 1 } // A améliorer avec un calcul +180

  background: $c1;
  background: -moz-linear-gradient($start,  $c1 0%, $c2 100%);
  background: -webkit-linear-gradient($start,  $c1 0%,$c2 100%);
  background: linear-gradient(to $end,  $c1 0%,$c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c1', endColorstr='$c2',GradientType=$type );
}
@mixin bloc_photo() {
  position: relative;
  overflow: hidden;
  img {
    @include absolute-center;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

