@import "colors";
@import "mixins";
@import "theme";
@import "~bootstrap/scss/bootstrap";
@import "./components/loader";
@import './components/_modal';
html, body {
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  .nav-link, h1, h2, h3, h4 {
    font-family: 'Dekko', cursive;
  }
  display: flex;
  flex-direction: column;
}
#main-container {
  flex: 1 0 auto;
}
label.required::after {
  content: " *"
}
.primary- {
  &bkg {
    background-color: $primary-color !important;
  }
  &text {
    color: $primary-color !important;
  }
}

@media all and (min-width: 992px){
  footer#desktop {
    flex-shrink: 0;
    background-color: $grey-dark;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    @include link($white);
    .footer-information {
      font-size: 0.8rem;
    }
  }
  #main-container {
    margin-top: 135px
  }
  nav {
    .nav-link {
      transition: color 500ms ease-in-out;
      font-size: 1.1rem;
    }
    .nav-link:hover {
      color: $primary-color!important;
    }
    li.nav-item {
      transition: transform 10ms
    }
    li.nav-item:hover {
      transform: scale(1.1);
    }
    li.nav-item:after {
      display:block;
      content: '';
      border-bottom: solid 2px $primary-color;
      transform: scaleX(0);
      transition: transform 500ms ease-in-out;
    }
    li.nav-item:hover:after { transform: scaleX(1)}
    height: 100px;
    .logo {
      height: 80px;
    }
  }
}
@media all and (max-width: 991px){
  nav {
    height: 60px;
    .logo {
      height: 40px;
    }
  }
}

