@import "colors";
@import "mixins";
@import "theme";
@import "~bootstrap/scss/bootstrap";
@import "./components/loader";
@import './components/_modal';

.h-0 {
  height: 0;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;

  h1, h2, h3, h4 {
    font-weight: bold;
  }

  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration: none;
}

#main-container {
  flex: 1 0 auto;
  background-color: #f8f9fb;
}

label.required::after {
  content: " *"
}

.primary- {
  &bkg {
    background-color: $primary-color !important;
  }

  &text {
    color: $primary-color !important;
  }
}

.secondary- {
  &bkg {
    background-color: $grey-dark !important;
  }
}

.text-cancel {
  text-decoration: line-through
}

.breadcrumb-page {
  min-height: 180px;
  max-height: 180px;
  background-size: cover;
}

.add-product-modal {
  border-radius: 20px !important;
}

@media all and (max-width: 768px) {
  .cgv {
    padding: 0;
  }
  .sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    .fa {
      font-size: 25px;
      font-weight: 600;
    }
    img {
      width: 200px;
      height: 200px;
    }
    h5 {
      font-size: 18px;
    }
  }

  .sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 18px;
    color: $primary-color;
    display: block;
    transition: 0.3s;

    &.extra-small {
      font-size: 80%;
    }
  }

  .sidenav a:hover {
    color: rgba(255, 80, 70, 0.6);
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #header_desktop {
    display: none;
  }
  #mobile {
    > .container-fluid {
      background-color: $white;
      z-index: 999;
    }

    span {
      font-size: 0.7rem;
    }

    nav {
      height: 30px;
      background-color: $primary-color;
    }

    .container-logo {
      z-index: 999;
      margin-left: 50px;

      .header_logo_circle {
        &-first {
          width: 60px;
          height: 60px;
          border-radius: 30px;
          border: 2px white solid;
        }

        &-second {
          width: 100%;
          height: 100%;
          border: 2px red solid;
          border-radius: 50%;
          background-color: white;
        }
      }

      .logo {
        height: 25px;
      }
    }

  }
  #main-container {
    margin-top: 97px;
    padding-top: 60px;
  }
  .dropdown-mps .dropdown-item:hover {
    background-color: $primary-color !important;
  }
}

@media all and (min-width: 769px) {
  #mobile {
    display: none;
  }
  #header_desktop {
    display: block;

    > .container-fluid {
      background-color: $white;
      z-index: 999;
    }

    .content-card {
      width: 60px;
      height: 60px;
      border: 2px solid $primary-color;
      border-radius: 30px;
    }

    span {
      font-size: 0.9rem;
    }

    nav {
      height: 80px;
      background-color: $primary-color;

      .nav-link {
        font-size: 1.1rem;
        color: $white;
        font-weight: bold;
      }

      li.nav-item {
        transition: transform 1s
      }

      li.nav-item:hover {
        transform: scale(1.1);
      }

      li.nav-item:hover:after {
        transform: scaleX(1)
      }
    }

    .container-logo {
      z-index: 999;

      .header_logo_circle {
        &-first {
          width: 160px;
          height: 160px;
          border-radius: 80px;
          border: 8px white solid;
        }

        &-second {
          width: 100%;
          height: 100%;
          border: 5px red solid;
          border-radius: 50%;
          background-color: white;
        }
      }

      .logo {
        height: 75px;
      }
    }

  }
  #main-container {
    margin-top: 156px;
    padding-top: 60px;
  }
  .white-text, .dropdown .dropdown-menu .dropdown-item:hover {
    color: $primary-color !important;
  }
  .dropdown-item {
    background-color: transparent !important;
  }
  .dropdown-mps .dropdown-item:hover {
    background-color: transparent !important;
    border-radius: .125rem;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  footer {
    a:hover {
      color: $primary-color;
    }
    .social-butons {
      a:hover {
        cursor: pointer;
        color: $primary-color;
      }
      i {
        color: white;
      }
      i:hover {
        color: $primary-color;
      }
    }
  }
}

footer {
  flex-shrink: 0;
  background-color: $grey-dark;
  padding-top: 20px;
  color: $white;
}

@include link($white);
.footer-information, .footer-prevent-alcoohol {
  font-size: 0.6rem;
}

.legal-minor {
  background-color: #567683;
}

.extra-small {
  font-size: 60%;
}

.shopping-cart {
  .badge {
    margin-top: -30px;
  }
}


.button-custom {
  border: 1px solid #ffffff;
  background-color: $primary-color;
  //text-align: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  i {
    line-height: 1;
  }
}
.button-custom:hover {
  background-color: #fc271e
}
.button-custom:active {
  background-color: #ba3a32;
  box-shadow: 0 5px #531b17;
  transform: translateY(4px);
}
.close {
  i {
    font-size: 0.9rem;
  }
}
.detail-modal-multi {
  .modal-content {
    border-radius: 20px 20px 10px 10px;
  }
}
