@import "colors";
#main-container {
  //z-index: -2;
  padding:0;
  //margin-top: 135px;
}
#carousel-slider-homepage {
  //z-index: 0;
  .carousel-indicators {

  }
  img {
    max-height: 480px;
  }
}
#image-home {
  height: 450px; -webkit-background-size: cover;
  background-size: cover;
}
