@import "colors";
#main-container {
  //z-index: -2;
  padding:0;
  //margin-top: 135px;
  background-color: #ffffff;
}
#image-home {
  height: 450px; -webkit-background-size: cover;
  background-size: cover;
}
@media all and (min-width: 769px) {
  #carousel-slider-homepage {
    a:hover {
      color: #ffffff;
    }
    .caption-accueil {
      position: absolute;
      top: 10%;
      left: 20%;
      width: auto;
    }
    img {
      max-height: 480px;
    }
  }
}
@media all and (max-width: 768px) {
  .carousel {
    a:hover {
      color: #ffffff;
    }
    .caption-accueil {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 50px;
      text-align: center;
      h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
      }
      p, li {
        font-size: 0.8rem;
      }
    }
    img {
      width: auto !important;
      height: 320px;
      max-width: none;
      max-height: 320px;
    }
  }
  .global-info {
    display: flex !important;
    flex-direction: column !important;
    &_element {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
  }
}
