#main-container {
  z-index: 0;
  padding: 0;
}
#carousel-slider-homepage {
  margin-top: -15px;
  z-index: 2;
  min-height: 80vh;
}
.carousel.img {
  height: 80vh;
}
@media all and (min-width: 769px) {
  .caption-accueil {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 50px;
    text-align: center;
    img {
      width: 100% ;
      height: auto;
    }
  }
}
@media all and (max-width: 768px) {
  .carousel-item {
    a:hover {
      color: #ffffff;
    }

    .caption-accueil {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 50px;
      text-align: center;
      h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
      }
      img {
        width: auto !important;
        height: 520px;
        max-width: none;
        max-height: 520px;
      }
      p, li {
        font-size: 0.8rem;
      }
    }
  }
}
