.card-box {
  height: 600px;
  flex: 1;
  border-radius: 20px 20px 10px 10px;
  &_header {
    border-radius: 20px 20px 0 0;
    flex: 0.05
  }
  &_header_image {
    flex: 0.5;
  }
  &_content {
    flex: 0.3;
    p {
      font-size: 14px;
    }
  }
  &_price {
    background-color: #cfe0e6;
    flex: 0.1;
    img {
      width: 40px;
    }
  }
  &_footer {
    flex: 0.195;
  }
  &_footer_color {
    flex: 0.02;
    border-radius: 0 0 10px 10px;
  }
}
.modal-bottom {
  height: 75vh;
}
.detail-box {
  .nav {
    border-radius: 15px 15px 0 0;
  }
  .picto {
    max-width: 45px;
  }
  canvas {
    min-height: 150px;
    max-width: 150px;
  }
  .item-caract {
    &_background {
      padding-bottom: 4rem;
      background-color: #fdf3ea;
    }
    &_caract {
      margin-top: -70px;
    }
    background-color: #ffffff;
    min-height: 150px;
  }
  .dishes {
    background-color: #fdf3ea;
    img {
      max-width: 55px;
    }
  }
}
.text-caract {
  font-size: 0.7rem;
}
.content-detail-description {
  font-size: 0.9rem;
}
#opinions {
  .container {
    min-height: 80vh;
  }
  .header_opinion {
    background-color: #fdf3ea;
  }
}