@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loading-overlay {
  transition: background-color 0.5s 0s ease-out;
  background: rgba($gray-400, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    background-color: rgba($gray-400, 0.55);
    pointer-events: auto;
    opacity: 1;
  }

  .loader {
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-top: 4px solid get-color(primary);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    -webkit-animation: spin 1.4s linear infinite;
    -moz-animation: spin 1.4s linear infinite;
    -ms-animation: spin 1.4s linear infinite;
    -o-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
  }
}
