.modal-bottom {
  min-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  position: fixed;
  top: auto;
  left: auto;
  right: auto;
  bottom: 0;

}
.modal-body, .modal-content, .modal-bottom {
  max-height: 90vh;
  height: auto;
}
