.card-wine {
  height: 600px;
  border-radius: 20px 20px 10px 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 1;
  &_header {
    flex: 0.05;
    border-radius: 20px 20px 0 0;
  }
  &_content {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.01);
    flex: 1;
    margin-top: -10px;
    &-product {
      background-color: #ffffff;
      flex: 1;
      .wine {
        height: 300px;
      }
      .vigneron {
        position: absolute;
        right: 20px;
        top: 0;
        height: 110px;
        width: 110px;
      }
      .badges {
        position: absolute;
        left: 30px;
        height: 100%;
        top: 0;
        img {
          height: 80px;
          width: 80px;
        }
      }
      &_general {
        flex: 0.9;
      }
      &_content {
        flex: 0.025;
      }
    }
    &-price {
      background-color: #cfe0e6;
      flex: 0.05;
      & col {
        flex: 0.025;
      }
    }
    &-footer {
      background-color: white;
      flex: 0.18;
    }
  }
  &_header {
    &-image {
      z-index: 999;
      img {
        height: 30px;
        width: 30px;
      }
      &_circle-first {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 5px white solid;
        margin-top: -45px;
        margin-left: 30px;
        z-index: 999;
      }
      &_circle-second {
        width: 100%;
        height:100%;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
  &_footer {
    flex: 0.02;
    border-radius: 0 0 10px 10px;
  }
}
.tab-content {
  min-height: 50vh;
}
.modal-bottom {
  height: 75vh;
}
.detail-wine {
  .nav {
    border-radius: 15px 15px 0 0;
  }
  #chartFruity, #chartRobustness {
    width: 180px;
    height: 180px;
    margin: 0 auto;
  }
  .picto {
    max-height: 55px;
  }
  canvas {
    min-height: 150px;
    max-width: 150px;
  }
  .imgTaste {
    background-size: 30%;
    min-width: 180px;
    min-height: 180px;
  }
  .item-caract {
    &_sign-minus {
      position: absolute;
      left: 15px;
      bottom: 15px;
      font-size: 25px;
    }
    &_sign-plus {
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 25px;
    }
    background-color: #d7f1f1;
    min-height: 150px;
  }
  .dishes {
    background-color: #fdf4eb;
    img {
      max-width: 80px;
    }
  }
}
