<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/tarteaucitronjs/tarteaucitron.js"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "http://www.google.fr", /* Privacy policy url */

                "hashtag": "#vins", /* Open the panel with this hashtag */
                "cookieName": "amazingtarteaucitron", /* Cookie name */

                "orientation": "bottom", /* Banner position (top - bottom) */
                "showAlertSmall": true, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */

                "adblocker": false, /* Show a Warning if an adblocker is detected */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* Disable auto consent */
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
            });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">

        {{encore_entry_link_tags('app')}}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row primary-bkg">
                <div class="col-12 text-center font-italic small text-white pt-1 pb-1">
                    Tous les vins sont livrés en main propre par notre équipe pour 4€ seulement !
                </div>
            </div>
        </div>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar white mt-4">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            jkljkl
                        </div>
                        <div>
                            <a class="navbar-brand" href="#">
                                <img src="{{asset('build/images/logo.png')}}" height="50" alt="logo mon premier sommelier">
                            </a>
                        </div>
                        <div>
                            jklsdfjk
                        </div>
                    </div>

                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <div id="loading-overlay">
            <div class="loader"></div>
        </div>
        {% include 'parts/_modals.html.twig' %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
