<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/tarteaucitronjs/tarteaucitron.js"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "http://www.google.fr", /* Privacy policy url */

                "hashtag": "#vins", /* Open the panel with this hashtag */
                "cookieName": "amazingtarteaucitron", /* Cookie name */

                "orientation": "bottom", /* Banner position (top - bottom) */
                "showAlertSmall": true, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */

                "adblocker": false, /* Show a Warning if an adblocker is detected */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* Disable auto consent */
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
            });
        </script>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <!-- Insert this within your head tag and after foundation.css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />

        {{encore_entry_link_tags('app')}}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header id="header">
            <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
            </div>

            <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="#"><i class="fas fa-home"></i></a></li>
                        <li><a id="connect" href="{{ path('security_login') }}">Connect</a></li>
                    </ul>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <div id="loading-overlay">
            <div class="loader"></div>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        {% include 'parts/_modals.html.twig' %}
        <script type="text/javascript">
            tarteaucitron.user.googletagmanagerId = 'GTM-KEY';
            (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
        </script>
    </body>
</html>
