<footer id="desktop">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div>
                <h3>A propos</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#">Notre concept</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Notre démarche</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Les avis de nos consommateurs</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Besoin d'aide ?</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#">Nous contacter</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Livraison</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Mentions légales & CGV</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Plan du site</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-information row d-flex justify-content-center align-items-center text-white">
            <i class="fa fa-copyright"></i>
            <span class="ml-1">Mon premier sommelier. Tous droits réservés.</span>
        </div>
        <div class="small row d-flex justify-content-center justify-content-center text-white">
            <span class="font-italic">L'abus d'alcool est dangereux pour la santé. A consommer avec modération.</span>
        </div>
    </div>
</footer>
