<footer id="desktop">
    <div class="container">
        <div class="row mb-2">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h3>A propos</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#">Notre concept</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Livraison</a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <a class="nav-link d-flex justify-content-center" href="#">
                    <img class="basket" src="{{asset('build/images/cart.png')}}" height="30" alt="cart">
{#                    {% if app.session.get('itemsCart')|length %}#}
                        <span class="badge badge-pill primary-bkg">{{ app.session.get('itemsCart')|default(0) }}</span>
{#                    {% endif %}#}
                </a>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h3>Besoin d'aide ?</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="contact" data-url="{{ path('contact_page') }}" href="#">Nous contacter</a>
                    </li>
                    <li class="nav-item">
                        <a class="static-call" data-url="{{ path('static_page', {'page': 'cgv'}) }}" href="#">Mentions légales & CGV</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-information row d-flex justify-content-center align-items-center text-white">
            <i class="fa fa-copyright"></i>
            <span class="ml-1">Mon premier sommelier. Tous droits réservés.</span>
        </div>
        <div class="small row d-flex justify-content-center justify-content-center text-white">
            <span class="font-italic">L'abus d'alcool est dangereux pour la santé. A consommer avec modération.</span>
        </div>
    </div>
</footer>
