<header id="desktop" class="fixed-top">
    <div class="container-fluid">
        <div class="row primary-bkg">
            <div class="col-12 text-center font-italic text-white pt-1 pb-1">
                <span class="small">Tous les vins sont livrés en main propre par notre équipe pour 4€ seulement !</span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar white">
        <div class="container d-flex justify-content-center">
            <div class="row w-75 text-uppercase">
                <ul class="col navbar-nav">
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <a class="nav-link" href="#">Les vins
                        </a>
                    </li>
                </ul>
                <ul class="col navbar-nav">
                    <li class="nav-item d-flex flex-column justify-content-center">
                        <a class="nav-link" href="#">Les Boxs</a>
                    </li>
                </ul>
                <a class="col navbar-brand" href="#">
                    <img class="logo" src="{{asset('build/images/logo.png')}}" height="80" alt="logo mon premier sommelier">
                </a>
                <ul class="col navbar-nav">
                    <li class="nav-item d-flex flex-column justify-content-center dropdown">
                        <a class="nav-link dropdown-toggle" id="learn_wine" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            J'apprends le vin
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                             aria-labelledby="learn_wine">
                            <a class="dropdown-item" href="#">MPDM</a>
                            <a class="dropdown-item" href="#">Les Tastuces</a>
                        </div>
                    </li>
                </ul>
                <ul class="col navbar-nav">
                    <li class="nav-item d-flex flex-column justify-content-center dropdown">
                        <a class="nav-link dropdown-toggle" id="about" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            A propos
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                             aria-labelledby="about">
                            <a class="dropdown-item" href="#">Le Concept</a>
                            <a class="dropdown-item" href="#">Les profils</a>
                            <a class="dropdown-item" href="#">Les daygust</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>

