<div class="reveal" id="basic-modal" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down">
    <div class="content-modal">
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
